/*  use css to change button text color? */

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 24px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}